:root {
    --main-bg-color: white;
    --main-fg-color: #121212;
    --accent-color: #d3d3d3;
}
body {
    background-color: var(--main-bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.header {
    background-color: var(--accent-color);
    font-size: 1.2rem;
}

div.content {
    margin-left: 25px;
    margin-right: 25px;
}

main > footer {
    font-size: 0.8rem;
}

.wrapper {
    display: grid;
    grid-template-columns:
      1fr
      min(65ch, 100%)
      1fr;
  }
  .wrapper > * {
    grid-column: 2;
  }
  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }
