---
title: Default title
---
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style/app.css">
  </head>
  <body>
    <div class="header">
      <a href="/">Home</a>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <p>
        Created by {{ site.author.name }}
      </p>
    </footer>
  </body>
</html>